<ons-page data-ng-controller="PageController" data-ng-init="setPageTitle('Elf Reports');">
  <ons-row style="margin-top: 50px;">
	<ons-col align="center">
		<section data-ng-controller="PageController" data-ng-init="entryinit()">
			<p><img width="250px" height="211px" ng-src="img/elf-christmas-opening.png" /></p>
			<p>
				<ons-button modifier="dark" ng-click="myNavigator.pushPage('templates/signup.html');">
				<ons-icon icon="fa-edit"> Sign Up</ons-icon>
				</ons-button>
				<ons-button modifier="dark" ng-click="myNavigator.pushPage('templates/signin.html');">
					<ons-icon icon="fa-sign-in"> Sign In</ons-icon>
				</ons-button>
			</p>
		</section>
	</ons-col>
  </ons-row>
</ons-page>
